.boton{
    width: 250px; height: 50px;
    background-color: #e2bb0d;
    border-radius: .5em;
    cursor: pointer;
    transition: background-color 1s;
}

.boton:hover {
    background-color: aliceblue;
}

.boton p {
    text-align: center;
    font-size: 2em; font-weight: bold;
    color: aliceblue;
    line-height: 1.6em;
}